.blogs__main_container{
    min-width: 600px;
    width: 100%;
    color:black;
    display: flex;
    justify-content: center;
}
.blogs__container{
    background-color: rgba(136, 61, 26, 0.1);
    width: 100%;
    padding: 20px 40px 50px;
    display: flex;
    flex-direction: column;
    
}
.blog_tile{
    background-color: white;
    color:black;
    height: fit-content;
    width: 90%;
    border: 5px solid #883d1a;
    padding: 20px;
    align-self: center;
}
h1{
    align-self:center;
    color:  #883d1a;
}
.paginate_index{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs{
    height: 100px;
    display: sticky;
    top:0;
    left:15%;
}