.navbar {
  background-color:#883d1a;
  width: 100vw;
  min-width: 600px;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar img {
  width: 160px;
}

.navLeft {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
}

.navLeft .bar {
  border-left: 3px solid white;
  height: 20px;
  margin-left: 10px;
}
.navLeft b {
  margin-left: 5px;
}

.navRight {
  float: right;
  
  font-size: 15px;
  margin-right: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.navRight span {
  padding-top:30px ;
  height: 50px;
  width: 100px;
}
.navRight span:hover{
  background-color: rgb(255,255,255);
  color:#883d1a;
  cursor: pointer;
  
}

.navbar .hamburger {
  visibility: hidden;
  cursor: pointer;
}

@media only screen and (max-width: 870px) {
  .navbar .hamburger {
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    visibility: visible;
  }

  .navbar .hamburger div {
    border-bottom: 3px solid white;
    height: 2px;
    width: 20px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .navRight {
    display: none;
  }

  .navbar #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 500px;
    
    width: 100%;
    background-color:rgb(136,61,26);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar #hidden span {
    margin: 5px;
    height: 30px;
  }
  .navbar #hidden div {
    margin: 5px;
    height: 30px;
  }

  .navbar #hidden span:hover{
    background-color: #883d1a;
  color:white;
  cursor: pointer;
  }
}
